// =========================
// Color Utilities
// =========================


// =========================
// Font Weight Utilities
// =========================

.fw-light {
    font-weight: 300;
  }
  
  .fw-normal {
    font-weight: 400;
  }
  
  .fw-medium {
    font-weight: 500;
  }
  
  .fw-bold {
    font-weight: 700;
  }

// =========================
// Font Size Utilities
// =========================


// =========================
// Margin Utilities
// =========================


// =========================
// Padding Utilities
// =========================


// =========================
// Border Utilities
// =========================
